In [2]:
import requests
import pandas as pd
import io

In [3]:
url = "https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/b68cb71b-44a7-4394-97e2-5d2f41462a5d/resource/ecc4f0a8-25e6-40d8-ae70-8006e38c4f9a/download/ttc-streetcar-delay-data-2021.xlsx"

s = requests.get(url).content

In [6]:
xl = pd.ExcelFile(io.BytesIO(s))
print(xl.sheet_names)

['Jan 21', 'Feb 21', 'Mar 21', 'Apr 21', 'May 21', 'June 21', 'July 21', 'Aug 21']

In [12]:
df = xl.parse(xl.sheet_names[0])

In [11]:
df

,Date,Line,Time,Day,Location,Incident,Min Delay,Min Gap,Bound,Vehicle
0,2021-01-01,501,03:15,Friday,QUEEN AND MCCAUL,Operations,19,24,W,4574
1,2021-01-01,504,03:37,Friday,BROADVIEW AND QUEEN,Operations,15,30,NaN,4500
2,2021-01-01,504,04:00,Friday,BROADVIEW STATION,Cleaning,15,30,S,4589
3,2021-01-01,504,04:03,Friday,DUNDAS WEST STATION,Cleaning,15,30,W,4582
4,2021-01-01,506,05:37,Friday,MAIN STATION,Mechanical,10,20,N,3480
...,...,...,...,...,...,...,...,...,...,...
1013,2021-01-31,501,22:43,Sunday,QUEEN AND BROADVIEW,Emergency Services,11,21,W,4579
1014,2021-01-31,504,00:15,Sunday,KING AND SPADINA,Mechanical,3,8,W,4461
1015,2021-01-31,510,00:41,Sunday,SPADINA STATION,Emergency Services,20,30,NaN,4603
1016,2021-01-31,501,00:46,Sunday,QUEEN AND CHURCH,Held By,13,23,W,4432
1017,2021-01-31,510,01:23,Sunday,SPADINA AND COLLEGE,Cleaning,12,24,N,4403